h1{
    text-align: center;
    font-weight: bold;
    margin: 12rem 0 3rem 0;
}
.toggle-container{
    display: flex;
    align-items: center;
    margin: 10px auto;
    width: 200px;
}
.toggle{
    visibility: hidden;
}
label{
    width:80px;
    height:40px;
    background-color: rgb(186, 184, 184);
    border-radius: 20px;
    cursor: pointer;
    position: relative;
    display: inline-block;
    margin: 10px 10px 0 0;
}
.ball{
    width: 37px;
    height: 37px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    left: 2px;
    top: 1.2px;
    animation: slideOff 0.3s linear forwards;
}
.toggle:checked + label{
    background-color: rgb(101, 14, 133);
}
.toggle:checked + label .ball{
    animation: slideOn 0.3s linear forwards;
}
@keyframes slideOn{
    0%{
    transform: translateX(0) scale(1);
}
    50%{
    transform: translateX(20px) scale(1.2);
}
    100%{
    transform: translateX(40px) scale(1);
}
}
@keyframes slideOff{
    0%{
    transform: translateX(40px) scale(1);
}
    50%{
    transform: translateX(20px) scale(1.2);
}
    100%{
    transform: translateX(0) scale(1);
}
}
