:root {
  --line-border-fill: #0370fe;
  --line-border-empty: #acacac;
}
.container {
  text-align: center;
}
.progress-cotainer {
  margin-top: 12rem !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  max-width: 100%;
  width: 350px;
  margin: 0 auto;
}
.progress-cotainer::before {
  content: "";
  background-color: var(--line-border-empty);
  position: absolute;
  top: 50%;
  left: 0;
  width:100%;
  height: 4px;
  z-index: -1;
  transform: translateY(-50%);
}

.progress{
  background-color: var(--line-border-fill);
  position: absolute;
  top: 50%;
  left: 0;
  width:0%;
  height: 4px;
  z-index: -1;
  transition: 0.4s ease;
  transform: translateY(-50%);
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--line-border-empty);
  color: #fff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  transition: all 0.2s ease-in;
}
.circle.active {
  background-color: var(--line-border-fill);
}

.btn{
    margin-top: 2rem;
    background-color: var(--line-border-fill);
    color:#fff;
    padding:0.2rem 1.5rem;
    margin-right:8px;
    margin-left: 8px;
    transition: all 0.5s ease-in;
}

.btn:hover{
  color:#fff;
  background-color: #2682fa;
}

.btn:focus {
  outline: 0;
}

.btn:disabled {
  background-color: var(--line-border-empty);
  cursor: not-allowed;
}
